.Button {
    background-color: #222222;
    color: white;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 12px 35px;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: .3s;
}

.Button:hover {
    background-color: white;
    color: #222222;
    border: 2px solid #222222;
}

@media (max-width: 796px) {
    .Button {
        font-size: 12px;
        padding: 6px 20px;
    }
}