.Features {
    background-color: #222222;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 100px;
}
.Features h2 {
    font-size: 34px;
    font-weight: 400;
    margin-top: 20px;
}

.Top-Section {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    margin-top: 50px;
}

@media (max-width: 796px) {
    .Features {
        text-align: center;
    }
    .Features .Top-Section {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
}